@media (max-width: 768px) {

    .carousel,
    .carousel-wrapper,
    .residents {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 360px) {
    .notification_container{
        padding: 0 5px;
    }

}

@media screen and (max-width: 480px) {
    .promo {
        height: auto;
        background-position: center;
        padding: 20px;
    }

    h1 {
        font-size: 32px;
        padding-right: 0;
    }

    .promo-text {
        padding-right: 0;
    }

    .mini-block-text {
        font-size: 8px;
        padding-right: 0;
    }

    .mini-block {
        width: 100%;
        margin: 10px;
        font-size: 14px;
        height: 100px;
        padding: 5px;
        overflow-y: hidden;
    }
    .notification_btn{
        max-width: 100px;
        padding: 4px 10px;
    }
    .notification_btn a{
        padding: 0;
        font-size: 10px;
    }
    .notification_text h4{
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 2px;
    }
    .notification_text h6{
        font-size: 10px;
        color: #4d5154;
        margin-bottom: 0px;
    }
    .notification_text p{
        margin-left: 10px;
        font-size: 10px;
        color: #0a53be;
    }
    .notification_img img{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        height: auto;
        padding-bottom: 50px;
    }

    .reviews-text {
        margin-left: 5%;
        width: 90%;
        padding: 20px;
        font-size: 18px;
    }

    .wrapper i {
        top: 60%;
        transform: translateY(-50%);
        font-size: 1rem;
        line-height: 40px;
    }

    .wrapper i:first-child {
        left: 10px;
    }

    .wrapper i:last-child {
        right: 10px;
    }

    .wrapper .carousel {
        grid-auto-columns: 100%;
        gap: 10px;
    }

    .wrapper h2{
        overflow-y: hidden;
    }

    .carousel .card {
        height: auto;
        padding: 10px;
    }

    .carousel .card .img {
        height: 100px;
        width: 100px;
    }

    .card .img img {
        width: 100%;
        height: 100%;
    }

    .carousel .card h2 {
        font-size: 1.25rem;
        margin: 10px 0 5px;
    }

    .carousel .card span {
        font-size: 1rem;
    }

    .residents {
        height: auto;
    }

    .residents .carousel {
        grid-auto-columns: calc((100% / 1) - 12px);
        margin-left: 83px;
    }

    .residents-link {
        width: auto;
        margin: auto;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .event-calendar {
        align-items: center;
        padding: 30px;
        overflow: hidden;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    .event-calendar h2 {
        font-size: 24px;
    }

    .event-calendar p {
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }

}


@media (max-width: 768px) {
    .text h1 {
        font-size: 35px;
    }

    .text p {
        width: 90%;
    }

    header h1 {
        font-size: 25px;
    }

    header p span {
        font-size: 30px;
    }

    section .product {
        min-width: 49%;
        margin: 0 10px 0 0;
    }

    .detail,
    .button {
        font-size: 16px;
    }

    a {
        padding: 6px 10px;
    }
}
